rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /folders {
      allow read, write: if true;
      match /{userId}/{others=**} {
        allow read: if true;
        allow write: if isVerifiedUser(userId);
      }
    }
  }
}

function isVerifiedUser(userId) {
	return request.auth != null && request.auth.token.email == userId
}
