rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{email}/{allPaths=**} {
      allow read: if true;
      allow write: if isVerifiedUser(userId, email);
    }
  }
}

function isVerifiedUser(userId, email) {
	return request.auth != null && (request.auth.uid == userId) && (request.auth.token.email == email)
}
